h1{
    text-align: center;
    height: 100px;
   
}

div.content{
    text-align: center;
}
div.todo {
    background: lightcoral;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    margin: 200px 500px;
    padding: 20px;
    border: 10px solid yellow;
    border-radius: 15%;
}
body{
    background-color:lightcoral;
}
button{

    background-color: white;
}
ul{
    text-align: center;
}